.add img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    cursor: pointer;
}

.add {
    width: 99vw;
    height: 10vw;
    margin-top: 1%;
    margin-left: 0.5%;
    margin-bottom: 2%;

}



.products{
    background-color: #6390E3;
    width: 99vw;
    margin-left: 0.5%;
    height: 450px;
    border-radius: 20px;
}


/* Карточка */

.cards_tovar{
    background-color: #005AFF;
    height: 325px;
    border-radius: 15px;
}

.tovar_img{
    width: 90%;
    height: 65%;
    margin-left: 5%;
    margin-top: 3%;
    object-fit: contain;
}
.name_tovar{
    margin: 0;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    cursor: default;
}
.description_tovar{
    margin: 0;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 14px;
    margin-top: 10px;
    cursor: pointer;
}
.description_tovar:hover{
    color: rgb(255, 255, 0);
    font-weight: 400;
}
.info{
    margin-top: 2.5%;
    margin-left: 5%;
}

/* Карточки */


.cards{
    display: grid;
    grid-template-columns: repeat(6,190px);
    justify-content: space-around;
}


@media(max-width: 1150px){
    .cards{
        grid-template-columns: repeat(6, 150px);
    }
    .products{
        height: 380px;
    }
    .cards_tovar{
        height: 256px;
    }
}
@media(max-width: 930px){
    .cards{
        grid-template-columns: repeat(6, 125px);
    }
    .products{
        height: 300px;
    }
    .cards_tovar{
        height: 204px;
    }
    .description_tovar{
        font-size: calc(10px + 1 * (100vw - 320px) / 1080);
        margin-top: 0;
    }
    .name_tovar{
        font-size: calc(12px + 7 * (100vw - 320px) / 1080);
    }
}

@media(max-width: 760px){
    .cards{
        grid-template-columns: repeat(6, 100px);
    }
    .cards_tovar{
        height: 163px;
    }
    .description_tovar{
        font-size: calc(10px - 5 * (100vw - 320px) / 1080);
    }
    .products{
        height: 250px;
    }

}

@media(max-width: 600px){
    .cards{
        grid-template-columns: repeat(5, 100px);
        row-gap: 15px;
    }
    .products{
        height: 450px;
    }

}
@media(max-width: 515px){
    .cards{
        grid-template-columns: repeat(4, 100px);
    }

}
@media(max-width: 410px){
    .cards{
        grid-template-columns: repeat(3, 100px);
    }

}



.win_title{
    color: white;
    font-size: 24px;
    margin-left: 1%;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 5px;
}

.newDes{
    display: block;
    margin-bottom: 40px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin-left: 1%;
    font-weight: 400;
    opacity: 85%;
}